
<!-- SEARCH FORM -->
<mat-card>
    
    <div class="card-title">
        <mat-icon>search</mat-icon>
        Search
    </div>
        
    <form name="form-search" class="container-fluid">

        <div class="row">
			
                <div class="col-sm-6">
                    <mat-form-field class="full-width">
                        <input matInput type="text" placeholder="Name" [(ngModel)]="search.name" name="name" id="name">
                    </mat-form-field>
                </div>

                <div class="col-sm-6">
                    <mat-form-field class="full-width">
                        <input matInput type="text" placeholder="Surname" [(ngModel)]="search.surname" name="surname" id="surname">
                    </mat-form-field>
                </div>
            
                <div class="col-sm-6">
                    <mat-form-field class="full-width">
                        <input matInput type="text" placeholder="Phone" [(ngModel)]="search.phone" name="phone" id="phone">
                    </mat-form-field>
                </div>
            
        </div>

    </form>
</mat-card>

<!-- LIST -->
<mat-card class="mt-40 mb-40" *ngIf="list">

    <mat-nav-list>
        <mat-list-item class="title-list">
            <div class="w-80">
                <span class="w-35">
                    Name
                </span>
                <span class="w-35">
                    Phone
                </span>
                <span class="w-20">
                    Company
                </span>
            </div>
        </mat-list-item>
        <mat-list-item *ngFor="let item of list | search: { 'email': search.email, 'name': search.name, 'note': search.note, 'phone': search.phone, 'surname': search.surname }"
        (click)="viewContact(item._id)" >
            <div class="w-80">
                <span class="w-35">
                    {{ item.name }}
                    {{ item.surname }}
                </span>
                <span class="w-35">
                    {{ item.phone }}
                </span>
                <span class="w-20">
                    {{ item.company?.name }}
                </span>
            </div>
            <div class="spacer"></div>
            <button mat-icon-button class="to-right r-40" (click)="editContact(item._id)">
                <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button class="to-right" (click)="removeContact(item._id)">
                <mat-icon>delete</mat-icon>
            </button>
        </mat-list-item>
    </mat-nav-list>
    
    <div class="no-result" *ngIf="list.length == 0">
        You have no contacts
        <a class="pointer" (click)="editContact('new')">Add a contact</a>
    </div>
    
    <div class="no-result" *ngIf="list.length > 1 && (list | search: {  'email': search.email ,  'name': search.name ,  'note': search.note ,  'phone': search.phone ,  'surname': search.surname  }).length == 0">
        <div>No results found</div>
    </div>

</mat-card>

<!-- BUTTON -->
<button class="btn btn-primary pull-right mb-20" (click)="editContact('new')" mat-fab color="primary">
    <mat-icon>add</mat-icon>
</button>

