<!-- TITLE -->
<mat-card class="mb-40">
    <h1>Company</h1>
</mat-card>

<mat-card>
    <div class="card-title">
        <mat-icon>edit</mat-icon>
        Edit
    </div>

    <form #skaffolderForm="ngForm" class="container-fluid">
        
        <mat-form-field class="full-width">
            <input matInput type="text" placeholder="Name" [(ngModel)]="item.name"  name="name" id="name" >
        </mat-form-field>
        
        <mat-form-field class="full-width">
            <input matInput type="text" placeholder="Address" [(ngModel)]="item.address"  name="address" id="address" >
        </mat-form-field>
        
        <mat-form-field class="full-width">
            <input matInput type="text" placeholder="Mail" [(ngModel)]="item.mail"  name="mail" id="mail" >
        </mat-form-field>
        
        
        <h2 *ngIf="externalContact[0]">Workers</h2>
        <mat-list>
            <mat-list-item *ngFor="let item of externalContact" (click)="viewContact(item._id)" class="pointer">
                <mat-icon class="mr-10">person</mat-icon>
                {{item.name}} {{item.surname}}
            </mat-list-item>
        </mat-list>


        <!-- BUTTON BAR -->
        <div class="mt-40">
            <button mat-raised-button color="primary" class="pull-right mr-5" (click)="save(skaffolderForm.valid, item)">Save</button>
            <button mat-raised-button class="pull-right " (click)="goBack()">Back To List</button>
        </div>
    </form>

</mat-card>